<app-header [showNavbar]="false"></app-header>
<div class="sidebar-enabled">
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="sidebar col-lg-2 pt-lg-4">
        <app-sidebar></app-sidebar>
      </div>
      <!-- End Sidebar -->
      <div class="col-lg-10 content py-4 mb-2 mb-sm-0 pb-sm-5" style="position: relative;">
        <div class="row">
          <app-card-products *ngIf="products" [products]="products"></app-card-products>
          <app-error-page [showError]="typeError"></app-error-page>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary btn-sm sidebar-toggle" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#blog-sidebar"><i class="ai-sidebar fs-base me-2"></i>Sidebar
  </button>
</div>

