<!--Version mobile-->
<div class="d-block d-sm-block d-md-none" *transloco="let t">
  <div class="container px-0 px-xl-3">
    <div class="offcanvas offcanvas-collapse order-lg-2 align-items-center" id="primaryMenu" aria-modal="true" role="dialog">
      <div class="offcanvas-header" wfd-invisible="true">
        <h3 class="mt-2 mb-0">Menu</h3>
      </div>
      <div class="offcanvas-body border-top mt-5">
        <!-- Menu-->
        <ul class="navbar-nav align-items-center">
          <li>
            <a class="nav-link h3" routerLink="search/hombre">{{t("navbar.men")}}</a>
          </li>
          <li>
            <a class="nav-link h3" routerLink="search/mujer">{{t("navbar.woman")}}</a>
          </li>
          <li>
            <a class="nav-link h3" routerLink="search/junior">{{t("navbar.junior")}}</a>
          </li>
          <li>
            <a class="nav-link h3" routerLink="search/kids">{{t("navbar.kids")}}</a>
          </li>
          <li>
            <a class="nav-link h3" routerLink="search/accessorios">{{t("navbar.accessories")}}</a>
          </li>
          <li>
            <a class="nav-link h3" routerLink="search/ofertas">{{t("navbar.sale")}}</a>
          </li>
        </ul>
        <div class="mt-2 mb-5" style="left: 0; position: absolute">
          <app-search-toolbar></app-search-toolbar>
        </div>
      </div>
      <div class="offcanvas-footer border-top mb-5" wfd-invisible="true">
        <br>
        <a class="btn btn-translucent-primary d-block w-100" type="button" data-bs-dismiss="offcanvas" aria-label="Close">
          <i class="ai-x fs-lg me-2"></i> {{t("navbar.close")}}</a>
      </div>
    </div>
  </div>
</div>
