.carousel-item {
  height: 70vh !important;
  min-height: 300px !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.carousel-item img {
  display: flex !important;
  align-items: center !important;
}

.slider-container {
  transform: translateX(0);
  animation: slider 10s infinite;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .carousel-item {
    height: 20vh !important;
    min-height: 50px !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
  }
}
