<section class="offcanvas offcanvas-end hide" id="shoppingCart" style="visibility: hidden;" aria-modal="true"
         role="dialog"
         *transloco="let t">
  <div class="mt-2" style="position:fixed; top:0; right: 2%;">
    <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-header px-4 mt-2 mb-2" style="display: inline-block">
    <h5 class="mt-1 mb-0">{{t("cart.title")}}</h5>
    <hr class="bg-red">
  </div>
  <div class="offcanvas-body p-4" data-simplebar="init">
    <div class="simplebar-wrapper" style="margin: -24px;">
      <div class="simplebar-height-auto-observer-wrapper">
        <div class="simplebar-height-auto-observer"></div>
      </div>
      <div class="simplebar-mask">
        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
          <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden;">
            <div class="simplebar-content" style="padding: 24px;">

              <div class="d-flex align-items-center mb-3" *ngFor="let product of allProducts">
                <img class="rounded" [src]="product.thumbnail" [alt]="t('cart.alt-product')"
                     width="60">
                <div class="w-100 ps-2 ms-1">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="me-3">
                      <h4 class="nav-heading fs-md mb-1">
                        {{product.title}}
                      </h4>
                      <div class="d-flex align-items-center fs-sm"><span
                        class="me-2">{{product.price | currency}}</span><span
                        class="me-2">x</span>
                        <input class="form-control form-control-sm px-2" type="number" style="max-width: 3.5rem;"
                               min="1" [value]="product.quantity">
                      </div>
                    </div>
                    <div class="ps-3 border-start">
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="simplebar-placeholder" style="width: auto; height: 319px;"></div>
    </div>
    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
      <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
    </div>
    <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
      <div class="simplebar-scrollbar" style="height: 0px; display: none;"></div>
    </div>
  </div>
</section>
