<header class="header navbar-sticky navbar-stuck navbar-shadow" *transloco="let t">

  <div class="topbar topbar-light bg-light">

    <div class="container-fluid d-md-flex align-items-center px-0 px-xl-3">

      <button class="d-sm-none navbar-toggler ms-n2 me-4 text-muted" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#primaryMenu" wfd-invisible="true">
        <i class="ai-align-left" style="font-size: 40px"></i>
      </button>

      <div class="d-flex text-wrap me-3" routerLink="home" style="cursor: pointer">
        <span class="title">{{t("home.title") | uppercase}}</span>
      </div>

      <div class="d-none d-sm-none d-md-block d-flex text-wrap me-3 input-group mx-auto" style="max-width: 900px;">
        <app-search-toolbar></app-search-toolbar>
      </div>

      <div class="d-flex text-md-end ms-md-auto">
        <a class="ms-auto pe-2 me-4" style="cursor: pointer">
          <img src="assets/media/icon-cart.svg" [alt]="t('home.alt-cart')" data-bs-toggle="offcanvas"
               data-bs-target="#shoppingCart">
        </a>
        <div class="d-none d-sm-none d-md-block ms-auto ms-md-0 me-3">
          <a class="ms-auto pe-2 me-4" style="cursor: pointer">
            <img src="assets/media/icon-user.svg" routerLink="/shop/sign-in" [alt]="t('home.alt-user')">
          </a>
        </div>
        <div class="d-none d-sm-none d-md-block ms-auto ms-md-0 me-3">
          <button class="btn btn-default rounded-0" routerLink="/shop/sign-in">{{t("home.sign-in")}}</button>
        </div>
      </div>

    </div>

  </div>

  <div class="d-block d-sm-block d-md-none mb-5 card rounded-0" style="left: 0; position: absolute; width: 100%;">
    <div style="width: 99%;">
      <app-search-toolbar></app-search-toolbar>
    </div>
  </div>

  <app-navbar *ngIf="showNavbar"></app-navbar>
  <app-navbar-mobile></app-navbar-mobile>
  <app-cart></app-cart>
</header>
