<app-header [showNavbar]="true"></app-header>
<app-carousel></app-carousel>

<div class="d-md-flex align-items-center px-0 px-xl-3" *transloco="let t">
  <div class="row">
    <div class="col-md-6 image-card">
      <img src="assets/media/categorias-destacadas-moda-infantil.png">
      <span class="image-text">{{t("home.children-fashion")}}</span>
    </div>

    <div class="col-md-6 image-card">
      <img src="assets/media/categorias-destacadas-proteccion.png">
      <span class="image-text">{{t("home.safeguard")}}</span>
    </div>
  </div>
</div>

<app-best-seller></app-best-seller>

<app-footer></app-footer>
