<main class="page-wrapper d-flex flex-column" *transloco="let t">
  <app-header></app-header>
  <!-- Page content-->
  <!-- Background image-->
  <div class="d-none d-md-block position-absolute w-50 h-100 bg-size-cover0"
       style="top: 0; right: 0; background-image: url('https://images.unsplash.com/photo-1445205170230-053b83016050?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80');"></div>
  <!-- Actual content-->
  <section class="container d-flex align-items-center pt-7 pb-3 pb-md-4 bg-repeat-0 bg-cover"
           style="flex: 1 0 auto;margin-top: 15%;">
    <div class="w-100 pt-3">
      <div class="row">
        <div class="col-lg-4 col-md-6 offset-lg-1">
          <!-- Sign in view-->
          <div class="view show" id="signin-view">
            <h1 class="h2">{{t("sign-in.title")}}</h1>
            <p class="fs-ms text-muted mb-4">{{t("sign-in.description")}}</p>
            <form class="needs-validation" novalidate="">
              <div class="input-group mb-3"><i
                class="ai-mail position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                <input class="form-control rounded" type="email" [placeholder]="t('sign-in.email')" required="">
              </div>
              <div class="input-group mb-3"><i
                class="ai-lock position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                <div class="password-toggle w-100">
                  <input class="form-control" type="password" [placeholder]="t('sign-in.password')" required="">
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center mb-3 pb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="keep-signed-2">
                  <label class="form-check-label" for="keep-signed-2">{{t("sign-in.keep-me")}}</label>
                </div>
                <a class="nav-link-style fs-ms" [routerLink]="['/shop/sign-in']">{{t("sign-in.forgot-password")}}</a>
              </div>
              <button class="btn btn-primary d-block w-100" type="submit">{{t("sign-in.title")}}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
