<div class="container d-flex flex-column justify-content-center pt-5 mt-n6" style="flex: 1 0 auto;">
  <div class="pt-7 pb-5">
    <div class="text-center mb-2 pb-4">
      <img class="d-inline-block animate__animated" src="assets/media/404-error.svg" style="width: 500px"
           alt="Error 404 &bull; ClothesShoes">
      <h1 class="mb-grid-gutter">
        <span class="visually-hidden">Error 404</span>
        <span class="d-block pt-3 fs-sm fw-semibold text-danger">Código de error: 404</span>
      </h1>
      <h2>Página no encontrada</h2>
      <p class="pb-2">Parece que no podemos encontrar la página que buscas.</p>
      <a class="btn btn-translucent-primary me-3" routerLink="/shop" routerLinkActive="active">
        Regresar a la página principal
      </a>
    </div>
  </div>
</div>
