<!--Pagina de error-->
<section *transloco="let t">
  <div *ngIf="showError === '404' || !showError" class="container d-flex flex-column justify-content-center pt-5 mt-n6"
       style="flex: 1 0 auto;">
    <div class="pt-7 pb-5">
      <div class="text-center mb-2 pb-4">
        <img class="d-inline-block animate__animated" src="assets/media/404-error.svg" style="width: 500px"
             [alt]="t('error-page.alt-image-404')">
        <h1 class="mb-grid-gutter">
          <span class="visually-hidden">{{t("error-page.404") | uppercase}}</span>
          <span class="d-block pt-3 fs-sm fw-semibold text-danger">{{t("error-page.text-description-404")}}</span>
        </h1>
        <h2>{{t("error-page.page-not-found")}}</h2>
        <p class="pb-2">{{t("error-page.help-text-404")}}</p>
        <a class="btn btn-translucent-primary me-3" routerLink="/shop" routerLinkActive="active">
          {{t("error-page.back-button")}}
        </a>
      </div>
    </div>
  </div>

  <div *ngIf="showError === 'empty-cart'" class="container d-flex flex-column justify-content-center pt-5 mt-n6"
       style="flex: 1 0 auto;">
    <div class="pt-7 pb-5">
      <div class="text-center mb-2 pb-4">
        <img class="d-inline-block animate__animated" src="assets/media/empty-cart.svg" style="width: 500px"
             [alt]="t('error-page.alt-image-404')">
        <hr class="bg-danger">
        <h2 class="mb-grid-gutter">{{t("error-page.empty-cart")}}</h2>
      </div>
    </div>
  </div>

</section>
