<div class="d-none d-sm-none d-md-block navbar navbar-expand-lg navbar-black bg-black navbar-shadow" *transloco="let t">
  <div class="container px-0 px-xl-3">
    <div class="offcanvas offcanvas-collapse align-items-center">
      <div class="offcanvas-body">
        <!-- Menu-->
        <ul class="navbar-nav items-navbar">
          <li>
            <a class="nav-link" routerLink="/shop/search/hombre">{{t("navbar.men")}}</a>
          </li>
          <span class="btn-divider"></span>
          <li>
            <a class="nav-link" routerLink="/shop/search/mujer">{{t("navbar.woman")}}</a>
          </li>
          <span class="btn-divider"></span>
          <li>
            <a class="nav-link" routerLink="/shop/search/junior">{{t("navbar.junior")}}</a>
          </li>
          <span class="btn-divider"></span>
          <li>
            <a class="nav-link" routerLink="/shop/search/kids">{{t("navbar.kids")}}</a>
          </li>
          <span class="btn-divider"></span>
          <li>
            <a class="nav-link" routerLink="/shop/search/accessorios">{{t("navbar.accessories")}}</a>
          </li>
          <span class="btn-divider"></span>
          <li>
            <a class="nav-link" routerLink="/shop/search/ofertas">{{t("navbar.sale")}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

