<div class="navbar navbar-expand-lg navbar-black bg-black navbar-shadow navbar-sticky" *transloco="let t">
  <div class="container px-0 px-xl-3">
    <div class="offcanvas offcanvas-collapse align-items-center">
      <div class="offcanvas-body">
        <!-- Menu-->
        <ul class="navbar-nav items-navbar">
          <li>
            <a class="nav-link" href="#">{{t("navbar.men")}}</a>
          </li>
          <span></span>
          <li>
            <a class="nav-link" href="#">{{t("navbar.woman")}}</a>
          </li>
          <span></span>
          <li>
            <a class="nav-link" href="#">{{t("navbar.junior")}}</a>
          </li>
          <span></span>
          <li>
            <a class="nav-link" href="#">{{t("navbar.kids")}}</a>
          </li>
          <span></span>
          <li>
            <a class="nav-link" href="#">{{t("navbar.accessories")}}</a>
          </li>
          <span></span>
          <li>
            <a class="nav-link" href="#">{{t("navbar.sale")}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
